{% extends 'app/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/user-interface.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    <style type="text/css">
      #map {  /* all maps */
        width:  1100px;
        height: 500px;
      }
    </style>

{% endblock head %}

{% block content %}
  <!-- show api maps -->
  <div class="container mt-5 pt-5 text-center">
    <h2 class="display-4">Search your Toilet</h2>
    <div class="row">
        <!-- load the map  -->
        <div id="map"></div>
    </div>
    <div class="my-4">
      <a href="{% url 'home' %}" class="btn btn-success center-block btn-lg putMarkers">Back to Home</a>
    </div>

  <div class="container">
    <h3 class="title text-center display-4"></h3>
    <div class="row">
        <div class="col-sm-12 col-lg-4 mb-2">
          <img src="" alt="" class="rounded float-left img-1">
        </div>
        <div class="col-sm-12 col-lg-4 mb-2">
          <img src="" alt="" class="rounded float-center img-2">
        </div>
        <div class="col-sm-12 col-lg-4 mb-2">
          <img src="" alt="" class="rounded float-right img-3">
        </div>
      </div>
    </div>
    <p class="description mt-5"></p>
    <p class="accesibility"></p>
  </div>
{% include 'app/maps.html' %}
{% endblock content %}
