{% extends 'app/base.html' %}
{% load static %}

{% block content %}
    <!-- header -->
    <header id="header">
      <div class="container mt-5">
        <div class="row">
          <div class="col-med-6 col-lg-6 header-content-left">
            <h2 class="display-4">I'm shitting!!!</h2>
            <p class="text-justify mt-5">
              If you need so fast a toiltet click in the GO GO GO button and share you ubication. But, if you only want
              to check our web application stay here and start with about Ublime.
            </p>
          </div>
          <div class="col-md-6 col-lg 6 header-content-right">
          <img src="{% static 'img/header-right.jpg'%}" style="width: 100%;" alt="Candelaria">
          </div>
        </div>
      </div>
    </header>

    <!-- testimonial -->
    <section id="testimonial">
      <div class="container mt-5 mb-3">
        <p class="h5">
          aun no se si dejar esto
        </p>
        <h4>- Yesid Gutierrez</h4>
      </div>
    </section>

    <!-- info -->
    <section id="about">
      <div class="container mt-5 my-5">
        <div class="row">
          <div class="col-md-6 cl-lg-6 about-left">
            <img src="{% static 'img/bogota.jpg'%}" style="width: 100%;" alt="Bogota">
          </div>
          <div class="col-md-6 col-lg-6 about-right my-auto">
            <h3 class="text-center mb-5 mt-5">About Ublime</h3>
            <p>
              Ublime is an democratic application web that help you to find a public toilet closer to yo, but,
              if yo prefert a better toilet with a lot space, best toilet paper, and it doesn't smell like a toilet
            </p>
            <a href="#" class="btn btn-outline-success btn-lg about-btn">Register</a>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container my-5">
        <div class="row py-5">
          <div class="col-md7 contact-left">
            <form class="card" action="contact.html" method="post">
              <div class="card-body">
                <div class="form-group">
                  <input type="text" placeholder="Name" class="form-control">
                </div>
                <div class="form-group">
                  <input type="email" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                  <textarea name="message" rows="10" cols="50" class="form-control"></textarea>
                </div>
                <button type="submit" name="submit" class="btn btn-outline-info btn-block">
                  SEND
                </button>
                </div>
              </div>
            </form>
            <div class="col-md-5 text-center contact-right">
              <h2>Contact</h2>
              <p class="mt-5">
                That's Ok, send to our team a email with your comments, don't worry you can write anything, but rememberg!
                be polite and respectful.
              </p>
            </div>
          </div>
        </div>
        </div>
      </div>

      </div>
    </section>
{% endblock content %}
