{% extends 'app/base.html' %}
{% load static %}

{% block content %}
    <!-- header -->
    <header id="header">
      <div class="container mt-5">
        <div class="row">
          <div class="col-med-6 col-lg-6 header-content-left">
            <h2 class="display-4">Do you have a need?</h2>
            <p class="text-justify mt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <div class="text-center">
              <a href="{% url 'userInterface'%}" class="btn btn-info text-center mb-3">SEARCH TOILET</a>
            </div>
          </div>
          <div class="col-md-6 col-lg 6 header-content-right mt-3">
          <img src="{% static 'img/header-right.jpg'%}" style="width: 100%;" alt="Candelaria">
          </div>
        </div>
      </div>
    </header>

    <!-- testimonial -->
    <section id="testimonial">
      <div class="container mt-5 mb-3">
        <p class="h5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <h4>- Yesid Gutierrez</h4>
      </div>
      <div class="text-center">
        <a href="#" class="btn btn-dark">Ublimemes...</a>
      </div>
    </section>
    <!-- info -->
    <section id="about">
      <div class="container mt-5 my-5">
        <div class="row">
          <div class="col-md-6 cl-lg-6 about-left">
            <img src="{% static 'img/bogota.jpg'%}" style="width: 100%;" alt="Bogota">
          </div>
          <div class="col-md-6 col-lg-6 about-right my-auto">
            <h3 class="text-center mb-5 mt-5">About Ublime</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <a href="{% url 'singupProvider'%}" class="btn btn-outline-success btn-lg about-btn">Register</a>
          </div>
        </div>
      </div>
    </section>

    <!-- our team -->

    <!-- Page Content -->
    <section id="team">
      <div class="container justify-content-between my-5 py-5">
        <h2 class="text-center">OUR TEAM</h2>
        <div class="row mt-3">
          <!-- Team Member 1 -->
          <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="{% static 'img/sebastian.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Sebastian Montealegre.</h5>
                <div class="card-text text-black-50">Software Engineer</div>
              </div>
            </div>
          </div>
          <!-- Team Member 2 -->
          <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="{% static 'img/yesid.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <h5 class="card-title mb-0">Yesid Gutierrez</h5>
                <div class="card-text text-black-50">Pisasuave</div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
  </section>

  <!-- contact info -->
    <section id="contact">
      <div class="container my-5">
        <div class="row py-5">
          <div class="col-md7 contact-left">
            <form class="card" action="contact.html" method="post">
              <div class="card-body">
                <div class="form-group">
                  <input type="text" placeholder="Name" class="form-control">
                </div>
                <div class="form-group">
                  <input type="email" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                  <textarea name="message" rows="10" cols="50" class="form-control"></textarea>
                </div>
                <button type="submit" name="submit" class="btn btn-outline-info btn-block">
                  SEND
                </button>
                </div>
            </form>
          </div>
          <div class="col-md-5 text-center contact-right">
              <h2>Contact</h2>
              <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}
